*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(17, 17, 17);
    padding: .25rem;
}

.clock-section{
    display: flex;
    flex-direction: column;
    height: 99vh;
}

.btn{
    background-color: rgb(78, 78, 78);
    height: 100%;
    font-size: 6.5rem;
    font-weight: 600;
    color: rgb(15, 15, 15);
    border: 2px solid rgb(15, 15, 15);
}

.btn-player2{
    /* Text upside down */
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 30px;
    height: auto;
}

.settings-nav{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.absolute{
    position: absolute;
    display: block;
    font-size: 1.1rem;
}

.moves-p1{
    top: 55%;
    left: 77%;
    right: 5%;
    margin-top: 1rem;
}

.moves-p2{
    top: 5%;
    left: 77%;
    right: 5%;
}

.center-h{
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
}

.current-format1{
    bottom: 5%; 
}

.current-format2{
    bottom: 5%;
}

/* Reset Game confirmation pop Up */
.reset-popup-container{
    background-color: rgb(15, 15, 15);
    color: aliceblue;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 80%;
    height: 200px;
    padding: 1.5rem 1.7rem .5rem;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 4px black;
    border-radius: 15px;
    line-height: 2.3rem;

    -webkit-box-shadow: 2px -2px 65px 34px rgba(15,15,15,1);
    -moz-box-shadow: 2px -2px 65px 34px rgba(15,15,15,1);
    box-shadow: 2px -2px 65px 34px rgba(15,15,15,1);
}

#reset-yes, #reset-no{
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    margin-inline: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    box-shadow: 2px 2px 3px black;
    background-color: rgb(78, 78, 78);
    color: white;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}

#reset-yes:active, #reset-no:active{
    background-color: rgb(37, 37, 37);
    box-shadow: 1px 1px 2px black;
}

#start-icon:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.hidden{
    display: none;
}

.green{
    background-color: green;
}
.red{
    background-color: red;
}